<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @interest.content %>
</p>

<%= render 'comment', comments: @interest.comments %>

<% if user_signed_in? %>
  <%= render 'post', comment: @comment, interest_id: @interest.id%>
<% end %>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
